In [13]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

# Load CSV files into DataFrames
courses_df = pd.read_csv('./raw/courses.csv')
performance_df = pd.read_csv('raw/performance.csv')
enrollment_df = pd.read_csv('raw/enrollment.csv')
users_df = pd.read_csv('raw/users.csv')
learning_paths_df = pd.read_csv('raw/learningPath.csv')

# Preview loaded data
print(courses_df.head())
print(performance_df.head())
print(enrollment_df.head())
print(users_df.head())
print(learning_paths_df.head())

   id                 title                          description  duration  \
0   1       Cloud Computing       Build modern web applications.         8
1   2       Web Development     Learn the basics of programming.        42
2   3  Intro to Programming     Learn the basics of programming.        31
3   4       Cloud Computing      Dive deep into data structures.        84
4   5       Data Structures  Introduction to cloud technologies.        72

     difficulty  rating            domain
0      advanced     3.3      Data Science
1      beginner     3.7   Web Development
2      beginner     1.0  Computer Science
3      advanced     1.6  Computer Science
4  intermediate     3.8   Cloud Computing
   id  user_id  enrollment_id  score grade  progress  certificate_earned
0   1       39             15     73     D        24               False
1   2       80             92     60     A        92                True
2   3       48             44     68     D         2                True
3   4       43             72     61     B        34               False
4   5       10              3     57     B        66               False
   id  user_id  course_id enrollment_date completion_date
0   1       19         90      2024-06-26      2024-07-15
1   2        1         58      2024-09-21      2024-09-21
2   3       89         47      2024-08-14      2025-01-25
3   4       38         55      2023-11-29             NaN
4   5       69          3      2024-06-07      2024-07-03
   id            name                      email  password  role
0   5        John Doe        johndoe@example.com  1234@Bcd  user
1   6      Jane Smith      janesmith@example.com  1234@Bcd  user
2   7     Bob Johnson     bobjohnson@example.com  1234@Bcd  user
3   8  Alice Williams  alicewilliams@example.com  1234@Bcd  user
4   9   Charlie Brown   charliebrown@example.com  1234@Bcd  user
   id            domain            title  \
0   1   Web Development  Learning Path 1
1   2      Data Science  Learning Path 2
2   3  Machine Learning  Learning Path 3
3   4     Cybersecurity  Learning Path 4
4   5   Cloud Computing  Learning Path 5

                                         description    courses  duration0  \
0  Description for learning path 1. This path inc...  1,2,3,4,5         10
1  Description for learning path 2. This path inc...  1,2,3,4,5         10
2  Description for learning path 3. This path inc...      2,3,5         10
3  Description for learning path 4. This path inc...      2,4,5         10
4  Description for learning path 5. This path inc...      1,2,3         10

     difficulty                created_at                updated_at
0      beginner  2024-10-07T12:00:00.000Z  2024-10-07T12:00:00.000Z
1  intermediate  2024-10-07T12:00:00.000Z  2024-10-07T12:00:00.000Z
2      advanced  2024-10-07T12:00:00.000Z  2024-10-07T12:00:00.000Z
3      beginner  2024-10-07T12:00:00.000Z  2024-10-07T12:00:00.000Z
4  intermediate  2024-10-07T12:00:00.000Z  2024-10-07T12:00:00.000Z

In [4]:
# Remove duplicates
courses_df.drop_duplicates(inplace=True)
performance_df.drop_duplicates(inplace=True)
enrollment_df.drop_duplicates(inplace=True)
users_df.drop_duplicates(inplace=True)
learning_paths_df.drop_duplicates(inplace=True)

# Handle missing values (basic example)
courses_df.fillna('Unknown', inplace=True)
performance_df.fillna(0, inplace=True)  # assuming 0 for missing scores/progress
# enrollment_df['completion_date'].fillna('Incomplete', inplace=True)

# Standardize string formats
courses_df['domain'] = courses_df['domain'].str.title()
learning_paths_df['domain'] = learning_paths_df['domain'].str.title()

# Example: Preview cleaned data
print(courses_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           100 non-null    int64
 1   title        100 non-null    object
 2   description  100 non-null    object
 3   duration     100 non-null    int64
 4   difficulty   100 non-null    object
 5   rating       100 non-null    float64
 6   domain       100 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 5.6+ KB
None

In [5]:
users_df = users_df.drop('password', axis=1)
users_df = users_df.drop('role', axis=1)
users_df = users_df.drop('email', axis=1)
users_df

    id               name
0    5           John Doe
1    6         Jane Smith
2    7        Bob Johnson
3    8     Alice Williams
4    9      Charlie Brown
5   10       Diana Prince
6   11       Edward Elric
7   12        Flora Green
8   13      George Martin
9   14         Hannah Lee
10  15       Isaac Asimov
11  16        Julia Child
12  17       Karen Walker
13  18        Liam Neeson
14  19           Mia Wong
15  20       Nora Roberts
16  21        Owen Wilson
17  22         Penny Lane
18  23       Quincy Jones
19  24        Rita Moreno
20  25          Sam Smith
21  26        Tina Turner
22  27  Ursula K. Le Guin
23  28        Victor Hugo
24  29     Wendy Williams
25  30        Xander Cage
26  31     Yasmine Bleeth
27  32  Zach Galifianakis
28  33       Aiden Pearce
29  34         Bella Swan
30  35        Chris Evans
31  36       Daisy Ridley
32  37      Elena Gilbert
33  38    Frank Underwood
34  39       Grace Hopper
35  40        Hank Azaria
36  41         Ivy League
37  42     Jerry Seinfeld
38  43         Katy Perry
39  44     Luke Skywalker
40  45      Monica Geller
41  46          Ned Stark
42  47      Olivia Benson
43  48      Pete Davidson
44  49       Quinn Fabray
45  50        Rick Grimes
46  51    Sherlock Holmes
47  52         Tony Stark
48  53        Uma Thurman
49  54          Vera Wang

In [6]:
learning_paths_df = learning_paths_df.drop('description', axis = 1)
learning_paths_df = learning_paths_df.drop('created_at', axis = 1)
learning_paths_df = learning_paths_df.drop('updated_at', axis = 1)
learning_paths_df

,id,domain,title,courses,duration0,difficulty
0,1,Web Development,Learning Path 1,"1,2,3,4,5",10,beginner
1,2,Data Science,Learning Path 2,"1,2,3,4,5",10,intermediate
2,3,Machine Learning,Learning Path 3,"2,3,5",10,advanced
3,4,Cybersecurity,Learning Path 4,"2,4,5",10,beginner
4,5,Cloud Computing,Learning Path 5,"1,2,3",10,intermediate
5,6,Web Development,Learning Path 6,"1,4,5,7,8",10,advanced
6,7,Data Science,Learning Path 7,"1,2,3,4,5",10,beginner
7,8,Machine Learning,Learning Path 8,"2,3,5,8,10",10,intermediate
8,9,Cybersecurity,Learning Path 9,"3,4,5,6,9",10,advanced
9,10,Cloud Computing,Learning Path 10,"1,2,3,7",10,beginner
10,11,Web Development,Learning Path 11,"1,2,4,5",10,intermediate
11,12,Data Science,Learning Path 12,"1,3,5,8",10,advanced
12,13,Machine Learning,Learning Path 13,"1,4,6,8",10,beginner
13,14,Cybersecurity,Learning Path 14,"1,3,4,5",10,intermediate
14,15,Cloud Computing,Learning Path 15,"1,2,3,4",10,advanced
15,16,Web Development,Learning Path 16,"2,5,6,8",10,beginner
16,17,Data Science,Learning Path 17,"1,2,4,7",10,intermediate
17,18,Machine Learning,Learning Path 18,"1,2,3,8",10,advanced
18,19,Cybersecurity,Learning Path 19,"2,4,6,8",10,beginner
19,20,Cloud Computing,Learning Path 20,"2,3,5",10,intermediate
20,21,Web Development,Learning Path 21,"1,3,4,5",10,advanced
21,22,Data Science,Learning Path 22,"1,2,5,6",10,beginner
22,23,Machine Learning,Learning Path 23,"2,3,6,7",10,intermediate
23,24,Cybersecurity,Learning Path 24,"1,2,4,5",10,advanced
24,25,Cloud Computing,Learning Path 25,"2,3,5,6",10,beginner
25,26,Web Development,Learning Path 26,"1,2,4,5",10,intermediate
26,27,Data Science,Learning Path 27,"2,3,5,7,11,14,50",10,advanced
27,28,Machine Learning,Learning Path 28,"1,3,4,6,9,12,35",10,beginner
28,29,Cybersecurity,Learning Path 29,"1,2,5,7,10,12,80",10,intermediate
29,30,Cloud Computing,Learning Path 30,"2,4,5,6,10,14,60",10,advanced
30,31,Web Development,Learning Path 31,"2,3,4,5,8,10,20",10,beginner
31,32,Data Science,Learning Path 32,"1,2,3,7,9,11,55",10,intermediate
32,33,Machine Learning,Learning Path 33,"2,3,6,8,10,14,70",10,advanced
33,34,Cybersecurity,Learning Path 34,"2,4,5,6,9,12,40",10,beginner
34,35,Cloud Computing,Learning Path 35,"1,3,5,7,9,13,90",10,intermediate
35,36,Web Development,Learning Path 36,"1,2,4,5,8,12,65",10,advanced
36,37,Data Science,Learning Path 37,"1,3,5,6,10,14,50",10,beginner
37,38,Machine Learning,Learning Path 38,"1,3,5,7,11,16,85",10,intermediate
38,39,Cybersecurity,Learning Path 39,"2,4,6,8,10,12,30",10,advanced
39,40,Cloud Computing,Learning Path 40,"1,2,3,5,9,14,70",10,beginner
40,41,Web Development,Learning Path 41,"2,3,4,5,8,10,40",10,intermediate
41,42,Data Science,Learning Path 42,"1,2,4,7,9,12,85",10,advanced
42,43,Machine Learning,Learning Path 43,"2,3,5,6,10,14,75",10,beginner
43,44,Cybersecurity,Learning Path 44,"1,2,4,5,8,10,50",10,intermediate
44,45,Cloud Computing,Learning Path 45,"2,3,6,7,9,11,65",10,advanced
45,46,Web Development,Learning Path 46,"2,4,5,6,10,12,30",10,beginner
46,47,Data Science,Learning Path 47,"1,2,3,8,10,15,90",10,intermediate
47,48,Machine Learning,Learning Path 48,"2,4,5,7,10,12,75",10,advanced
48,49,Cybersecurity,Learning Path 49,"1,3,5,6,9,11,40",10,beginner
49,50,Cloud Computing,Learning Path 50,"2,3,4,5,10,14,60",10,intermediate

In [7]:
courses_df['duration'] = courses_df['duration'].apply(lambda x: f"{x} hours")
courses_df = courses_df.drop('description', axis = 1)

In [8]:
courses_df

,id,title,duration,difficulty,rating,domain
0,1,Cloud Computing,8 hours,advanced,3.3,Data Science
1,2,Web Development,42 hours,beginner,3.7,Web Development
2,3,Intro to Programming,31 hours,beginner,1.0,Computer Science
3,4,Cloud Computing,84 hours,advanced,1.6,Computer Science
4,5,Data Structures,72 hours,intermediate,3.8,Cloud Computing
...,...,...,...,...,...,...
95,96,Web Development,8 hours,intermediate,3.5,Data Science
96,97,Cloud Computing,31 hours,advanced,2.1,Cloud Computing
97,98,Data Structures,88 hours,advanced,4.2,Data Science
98,99,Cloud Computing,43 hours,intermediate,4.4,Web Development
99,100,Web Development,41 hours,advanced,3.8,Data Science

In [15]:
# Join enrollments with users and courses
enriched_enrollments = pd.merge(enrollment_df, users_df, left_on='user_id', right_on='id', how='inner')
enriched_enrollments = pd.merge(enriched_enrollments, courses_df, left_on='course_id', right_on='id', how='inner')

# Join performance with enrollments
performance_enriched = pd.merge(performance_df, enrollment_df, left_on='enrollment_id', right_on='id', how='inner')

# Preview the joined data
print("enriched_enrollments")
print(enriched_enrollments.head())
print("performance_enriched")
print(performance_enriched.head())

enriched_enrollments
   id_x  user_id  course_id enrollment_date completion_date  id_y  \
0     1       19         90      2024-06-26      2024-07-15    19
1     4       38         55      2023-11-29             NaN    38
2     6       14         42      2023-10-29      2023-12-16    14
3     8       44         24      2024-08-03             NaN    44
4     9       53         56      2024-06-12             NaN    53

              name  id                 title  duration    difficulty  rating  \
0         Mia Wong  90      Machine Learning  42 hours      beginner     1.6
1  Frank Underwood  55       Data Structures  93 hours      beginner     4.7
2       Hannah Lee  42       Cloud Computing  30 hours  intermediate     1.8
3   Luke Skywalker  24  Intro to Programming  77 hours      advanced     2.1
4      Uma Thurman  56       Cloud Computing  82 hours  intermediate     1.7

             domain
0   Cloud Computing
1   Cloud Computing
2      Data Science
3  Computer Science
4  Computer Science
performance_enriched
   id_x  user_id_x  enrollment_id  score grade  progress  certificate_earned  \
0     1         39             15     73     D        24               False
1     2         80             92     60     A        92                True
2     3         48             44     68     D         2                True
3     4         43             72     61     B        34               False
4     5         10              3     57     B        66               False

   id_y  user_id_y  course_id enrollment_date completion_date
0    15         46         37      2024-06-14             NaN
1    92        100         58      2024-09-07             NaN
2    44         79         41      2023-10-19      2023-11-05
3    72         52         51      2024-05-31      2024-07-27
4     3         89         47      2024-08-14      2025-01-25

In [10]:
# Example: Calculate completion rate
total_enrollments = enriched_enrollments.shape[0]
completed_courses = enriched_enrollments[enriched_enrollments['completion_date'] != 'Incomplete'].shape[0]
completion_rate = (completed_courses / total_enrollments) * 100

# Example: Calculate certificate percentage in performance data
certificate_rate = (performance_enriched['certificate_earned'].sum() / performance_enriched.shape[0]) * 100

print(f"Completion Rate: {completion_rate:.2f}%")
print(f"Certificate Earning Rate: {certificate_rate:.2f}%")

Completion Rate: 100.00%
Certificate Earning Rate: 52.00%

In [11]:
fact_user_performance = performance_df.groupby('user_id').agg({
    'score': 'mean',
    'progress': 'mean',
    'certificate_earned': 'sum'
}).reset_index()

In [12]:
staging_folder_path = './staging/'
courses_df.to_csv(f'{staging_folder_path}transformed_courses.csv', index=False)
users_df.to_csv(f'{staging_folder_path}transformed_users.csv', index=False)
learning_paths_df.to_csv(f'{staging_folder_path}transformed_learning_path.csv', index=False)
performance_df.to_csv(f'{staging_folder_path}transformed_performance.csv', index=False)
enrollment_df.to_csv(f'{staging_folder_path}transformed_enrollment.csv', index=False)
enriched_enrollments.to_csv(f'{staging_folder_path}enriched_enrollments.csv', index=False)
performance_enriched.to_csv(f'{staging_folder_path}performance_enriched.csv', index=False)
fact_user_performance.to_csv(f'{staging_folder_path}fact_user_performance.csv', index=False)

print("Transformed CSV files have been saved.")

Transformed CSV files have been saved.